@use "../../global" as g;

.p-article {
  h1 {
    font-size: 1.75rem;
    margin-bottom: 16px;
  }

  time {
    display: block;
    color: g.$c-time;
  }

  &__thumbnail {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-bottom: 20px;
    margin-inline: auto;
  }
  &__body {
    white-space: pre-wrap;
    word-break: break-all;
  }
}
